page-postviewmodal {
  ion-card.card {
    width: 100%;
    margin: 0;
    box-shadow: none;
    ion-avatar {
      margin-left: 8px !important;
    }
    ion-row {
      border-top: 1px solid map_get($colors, bordercolor);
      ion-col {
        display: flex;
        .button {
          margin: 0;
          text-transform: capitalize;
          padding: 0 0.5em;
          font-size: map_get($font, bitsmall);
        }
        ion-note {
          margin: auto;
        }
      }
    }
    ion-label {
      display: flex;
      justify-content: space-between;
    }
    ion-item {
      .item-inner {
        padding-right: 0;
        ion-label {
          margin: auto 0;
        }
      }
    }
    ion-card-content {
      p {
        text-align: left;
      }
    }
  }
  .comment_area {
    border-top: 1px solid map_get($colors, bordercolor);
    padding-top: 8px;
    .user_comment {
      ion-item {
        padding-left: 8px;
        ion-avatar {
          align-self: flex-start;
          margin-top: 2px !important;
        }
        ion-label {
          white-space: normal;
          margin-top: 0;
          .divide {
            display: flex;
            .item-button.button {
              align-self: flex-start;
              margin: 0;
            }
          }
        }
        ion-row {
          border-bottom: 1px solid map_get($colors, bordercolor);
          ion-col.col {
            display: flex;
            padding: 0;
            .button {
              margin: 0;
              text-transform: capitalize;
              padding: 0 0.5em;
              font-size: map_get($font, smallbtn) !important;
            }
            ion-note {
              margin: auto;
            }
          }
        }

      }
      &:last-child{
        ion-row {
          border-bottom: 0;
        }
        }
    }

  }
  .reply_input {
    bottom: 0;
    width: 100%;
    float: left;
    display: flex;
    background-color: map_get($colors, lightbg);
    .input_area {
      position: relative;
      flex: 1;
      padding: 8px;
      textarea {
        flex: 1;
        font-size: 15px;
        float: left;
        height: 50px;
        border: 0;
        border-radius: 4px;
        border-top-right-radius: 0;
        position: relative;
        width: 100%;
        padding: 4px;
        background-color: map_get($colors, extralight);
      }
      .right_arrow {
        width: 0;
        height: 0;
        border-top: 0 solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #fff;
        position: absolute;
        right: -8px;
        top: 8px;
      }
    }
    button.button {
      font-size: 16px;
      min-height: 0;
      text-transform: capitalize;
      font-weight: normal;
      margin: 8px;
      align-self: flex-end;
      height: map_get($height, btnheight);
      width: map_get($height, btnheight);
      border-radius: 100%;
    }
  }

}
